<header class="jumbotron">
<h1>Quotes</h1><br />
</header>

<% @quotes.each do |quote| %>
       <blockquote>
           <strong><%= quote.quote %> </strong>
           <small><%= quote.author %></small>
           <% quote.tags.split.uniq.each do |tag| %><a href='/quotes?tag=<%= tag %>'><%= tag.downcase %></a>&nbsp;&nbsp;&nbsp;<% end %>
	   <br /><strong>Category:&nbsp;&nbsp;</strong><a href='/quotes?category=<%= quote.category.name %>'><%= quote.category.name.downcase %></a><br />
	   <a href='/posttofb?quote_id=<%= quote.id %>'><%= image_tag('fb_share_icon.gif') %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <a href='/posttotwitter?quote_id=<%= quote.id %>'><%= image_tag('tweet_share_icon.png') %></a>
       </blockquote>
<% end %>

<br />

<%= link_to 'New Quote', new_quote_path %>
