<h1>Listing quotes</h1>

<table class='quotes'>
  <tr>
    <th  class='quotes'>Category</th>
    <th class='quotes'>Quote</th>
    <th class='quotes'>Author</th>
    <th class='quotes'>Tags</th>
    <th class='quotes'>Edit</th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td class='quotes'><%= quote.category.name %></td>
    <td class='quotes'><%= quote.quote %></td>
    <td class='quotes'><%= quote.author %></td>
    <td class='quotes'><%= quote.tags %></td>
    <td class='quotes'><%= link_to 'Edit', edit_quote_path(quote) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
