<p id="notice"><%= notice %></p>

<blockquote>
<p>
  <%= @quote.quote %></p>
  <small><%= @quote.author %></small>

<br /> Category: <%= @quote.category.name %>&nbsp;&nbsp;&nbsp;<%= @quote.tags %>

</blockquote>

<%= link_to 'Back', quotes_path %>
