<!DOCTYPE html>
<html>
<head>
  <title>Quotesapp - Read quotes from great authors and share with your friends</title>
  <%= stylesheet_link_tag    "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="framecontentLeft">
   <div class="innertube">
  </div>
</div>

<div id="framecontentRight">
  <div class="innertube">

  </div>
</div>


<div id="maincontent">
  <img src='<%=asset_path "quote_header.jpg"%>' width="1200" height='100' />
  <% unless isLoggedIn? %>
     <% ['facebook'].each do |service_provider| %>
       <%= link_to image_tag("#{service_provider}_64.png", :size => "64x64"), :fblogin %>
     <% end %>
  <% else %>
    <%= currentUser %>
  <% end %>   
  <div class="innertube">
   <%= yield %>
  </div>
</div>

</body>
</html>
