<!DOCTYPE html>`
<html>
<head>
  <title>Quotesapp - Read quotes from great authors and share with your friends</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "5a4471d2-228b-47be-9f6b-83358c01ebe4"}); </script>

 <style>
 
 html {
   overflow-y: auto;
   font-size: 100%;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
 }

</style>
</head>
<body>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
	  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
	  <a href="/" class="brand">Quotable</a>
          <div class="nav-collapse">
	   <ul class="nav">
                <li class="active"><a href="<%= root_url %>">Home</a></li>
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
                   <ul class="dropdown-menu">
                     <% if @categories
                        @categories.each do |category| %>
                      <li><a href="/quotes?category=<%= category.name %>"><%= category.name %></a></li>
                     <% end 
                     end %> 
                   </ul>    
                </li>
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Authors</a>
                <ul class="dropdown-menu">
		   <% if @authors %>
		        <% @authors.each do |author| %>
		          <li><a href="/quotes?author=<%= author %>"><%=  author.capitalize %></a></li>
	 	        <% end %>
		   <% end %> 
                </ul>
                </li>
	    </ul>
            <form action="" class="navbar-form pull-right" >
                <input type="text" placeholder="Search" class="span3"/>
            </form>
	    </ul>
            <ul class="nav nav-pills">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account</a>
                  <ul class="dropdown-menu">
                    <li><% unless isLoggedInFacebook? %>
                          <%= link_to image_tag('login-facebook-button.png', :size => "200x25"), :fblogin %>
                        <% else %>
                           <span class="label">Logged in facebook as: <%= currentFacebookUser %></span>
                        <% end %>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <% unless isLoggedInTwitter? %>
	                  <%= link_to image_tag('login-twitter-button.png', :size => "200x25"), :twitterlogin %>
	                <% else %>
	                  <span class="label">Logged in twitter as: <%= currentTwitterUser %></span>
                        <% end %>
                    </li>
                    <li class="divider"></li>
                    <li><% if isLoggedIn? %><a class="btn" href="/logout">Logout</a><% else %><a class="btn" href="/login">Login</a>&nbsp;&nbsp;<a class="btn" href="/register">Register</a><% end %></li>
                </ul>
            </li>
          </ul>
	 </div> 
	</div>     
    </div>
</div>
<hr>

<div class="container-fluid" style="overflow:auto">
  <div class="row-fluid">
    <div class="span1">
      <!--Sidebar content-->
    </div>
    <div class="span8"><br />
       <%= render :partial => "shared/flash_messages", :locals => {:flash => flash} %>
      <%= yield %>
    </div>
    <div class="span2">
      <h2>Tags</h2>
      <% getTags.each_slice(5) do |stags| %>
        <% stags.each do |tag| %>
           <a href='/quotes?tag=<%= tag %>' ><%= tag.capitalize %></a>,&nbsp;&nbsp;
	<% end %><br />
      <% end %>
      <br />
      <br />
      <h2>Authors</h2>
      <% if @authors
          @authors.each_slice(3) do |sauthors| %>
         <% sauthors.each do |author| %>
	   <a  href="/quotes?author=<%= author %>"><%= author.capitalize %></a>,&nbsp;&nbsp;&nbsp;&nbsp;
	 <% end %>
	 <% end %>
      <% end %>
    </div>

  </div>
</div>

<hr>

<footer><b>&copy; Quoteable 2012</b>
   <table class="pull-right">
   <tr><td><span class='st_facebook_large' displayText='Facebook'></span>
   <span class='st_twitter_large' displayText='Tweet'></span>
   <span class='st_pinterest_large' displayText='Pinterest'></span>
   <span class='st_sharethis_large' displayText='ShareThis'></span>
   <span class='st_blogger_large' displayText='Blogger'></span>
   <span class='st_linkedin_large' displayText='LinkedIn'></span>
   </td></tr></table> 
</footer>
</body>
</html>
